header {
	margin-bottom: 80px;
}
.wrapper {
	margin: 0 auto;
	width: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 3px solid black;
	border-right: 6px dashed red;
	padding: 10px 0;

}
#mouse,
#bubble {
	height: 100px;
}
.musin {
	padding: 10px 0;
}
#button {
	background-color: orange;
	padding: 10px 0;
	width: 40%;
	margin: 0 auto;
	border: none;
	border-radius: 10px;
}
#button:hover {
	background-color: gray;
}
